# Configuration pour la stabilité et la performance
engine-strict=false
package-lock=true
prefer-offline=true
prefer-online=false
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000

# Optimisation de la gestion du cache
cache-min=9999999999
cache-max=9999999999
cache-lock-stale=60000
cache-lock-retries=10
cache-lock-wait=10000

# Désactivation des vérifications inutiles
fund=false
audit=false
preview=false
progress=false

# Configuration réseau
maxsockets=50
strict-ssl=false
registry=https://registry.npmjs.org/
