# Forcer l'utilisation de npm
engine-strict=false
package-lock=false
# Désactiver les vérifications de moteur
ignore-engines=true
# Désactiver les vérifications de version de Node
ignore-scripts=true
